*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}

.col-8 {
  width: 75%;
  float: left;
}

@media only screen and (max-width: 768px) {
  .col-8 {
    width: 100%;
  }
}

.col-4 {
  width: 25%;
  float: left;
}

@media only screen and (max-width: 768px) {
  .col-4 {
    width: 100%;
  }
}

main {
  display: block;
}

.heading {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

.heading .items {
  position: absolute;
  min-width: 200px;
  top: 13px;
  left: 45%;
  background: #0c9e0c7a;
  padding: 5px 10px 10px;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  display: none;
}

@media only screen and (max-width: 991px) {
  .heading .items {
    left: 0px;
    position: initial;
  }
}

.cart-container .content {
  width: 31%;
  float: left;
  border: 1px solid #cccccc;
  margin: 1%;
}

@media only screen and (max-width: 991px) {
  .cart-container .content {
    width: 48%;
  }
}

@media only screen and (max-width: 600px) {
  .cart-container .content {
    width: 100%;
  }
}

.cart-container .content .off {
  background: #10d8107a;
  padding: 5px 10px;
  position: absolute;
  margin-top: 20px;
}

.cart-container .content img {
  padding: 20px 50px;
}

.cart-container .content .details {
  background: #eeeeee;
  padding: 10px;
}

.cart-container .content .details h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-container .content .details .values:after {
  content: "";
  display: block;
  clear: both;
}

.cart-container .content .details .values span {
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

.cart-container .content .details .values span.discount {
  color: #6b6b6b;
  text-decoration: line-through;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
}

.cart-container .content .details .values .addtocart {
  float: right;
  border: 1px solid #30c1e2;
  color: #30c1e2;
  padding: 3px 5px;
  border-radius: 5px;
}

.cart-container .content .details .values .addtocart:hover {
  cursor: pointer;
  border-color: #000000;
  color: #000000;
}

.total-price {
  border: 2px solid #cccccc;
}

.total-price h5, .total-price p {
  padding: 5px 10px;
}

.total-price p .right {
  float: right;
}

.total-price .order-total {
  background: #eeeeee;
}

.total-items {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.total-items ul {
  margin: 0 0 5px;
  padding: 0;
}

.total-items ul li {
  display: inline-block;
  width: 19%;
}

.total-items ul li .plus, .total-items ul li .minus, .total-items ul li .close {
  cursor: pointer;
}

.total-items ul li .plus, .total-items ul li .minus {
  font-size: 18px;
}

.total-items ul li .quantity {
  border: 1px solid #cccccc;
  padding: 5px 8px;
  margin: 5px;
}

.total-items ul li img {
  width: 40px;
  height: 40px;
  float: left;
  margin: 5px 0;
}

.total-items ul li:first-child {
  border: 1px solid #cccccc;
  line-height: 40px;
  width: 55%;
  margin-right: 15px;
}

.total-items ul li:first-child .title {
  font-size: 12px;
  width: 60%;
  line-height: 13px;
  padding: 5px 0 0 5px;
  margin-top: 5px;
  display: inline-block;
}

.total-items ul li:first-child .close {
  float: right;
  margin-right: 5px;
}

.total-items ul li:last-child {
  text-align: right;
}

.total-items ul:first-child li {
  border: 0;
  line-height: auto;
  margin-right: 0;
}
