$red: #db5af5;
$green: #10d8107a;
$greenh: #0c9e0c7a;
$grey: #cccccc;
$greylight: #eeeeee;
$white: #ffffff;
$black: #000000;
$greytext: #6b6b6b;
$blue: #30c1e2;

$font-family-base: 'Lato', sans-serif;
$paragraph-line-height: 3rem;
$font-size-base: 1.6rem;
